.popup__save-button_disabled {
  cursor: default;
  background-color: #F7F7F7;
  border: 1px solid #000;
  color: #000;
  opacity: .2;
}

.popup__save-button_disabled.popup__save-button:hover {
  opacity: .2;
}