.profile__edit-button {
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  margin: 0 0 9px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  background-color: transparent;
  background-image: url('../../../images/edit-button.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 700px) {
  .profile__edit-button {
    margin-bottom: 7px;
    background-size: 7px;
    width: 18px;
    height: 18px;
  }
}